html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF0ED;
  font-family: Helvetica;
  color: #464646;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

header {
  height: 11.25rem;
}

h1, h2 {
  font-size: 3.75rem;
  font-weight: 100;
}

h3 {
  font-size: 2.063rem;
  font-weight: 100;
}

button {
  height: 3.438rem;
  width: 11.25rem;
  background-color: #5BACC3;
  color: #FFF;
  font-size: 1.313rem;
  font-family: Helvetica;
  box-sizing: content-box;
  padding: 2px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.nav-bar__logo-menu {
  display: flex;
  flex-direction: row;
}

.nav-bar__image {
  height: 7.5rem;
  padding: 1.875rem 0.5rem 1.875rem 1.875rem;
}

.nav-bar__heading {
  display: flex;
  align-items: flex-end;
  font-size: 3.125rem;
  font-weight: 100;
}

.nav-bar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3rem;
}

.nav-bar__item {
  display: flex;
  margin: 0 1.5rem;
  font-weight: normal;
  font-size: 1.313rem;
}

.nav-bar__anchor {
  text-decoration: none;
  color: #464646;
}

.nav-bar__special {
  color: #5BACC3;
}

.iconsSize {
  height: 3.125rem;
  margin-right: 1.2rem;
}

 .intro-info {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
 }

 .intro-info__description p {
  font-size: 2.063rem;
  width: 37.5rem;
}

.intro-info__picture {
  padding: 3rem 0;
  height: 548px;
}


.product-cards {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  margin: 0 auto;
}

.product-cards__heading {
  padding-top: 3.438rem;
}

.product-cards p.textColor {
  font-size: 2.063rem;
  color: #5BACC3;
  font-weight: bold;
}

.product-cards__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.product-cards__item {
  width: 27.188rem;
  height: 27.688rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 9px 1px rgba(0,0,0, 0.25);
  padding-top: 2.5rem;
  margin: 1rem;
  box-sizing: content-box;
}

.product-cards__description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FFF0ED;
  width: 100%;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 1.5rem;
}

.product-cards__heading-left {
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
  margin: 1.5rem 0; 
}

p.product-cards__heading-left {
  font-size: 1.313rem;
  font-weight: 100;
}

.product-cards__item img {
  padding-bottom: 2rem;
  height: 14.875rem;
}

.product-cards__description-right {
  display: flex;
  justify-content: space-around;
}

.product-cards__button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  padding: 2rem 0;
  margin: 0 auto;
}

/* learn more */

.learn-more {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 8rem;
}

.learn-more__information {
  padding-bottom: 2rem;
}

.learn-more__information p {
  font-size: 2.063rem;
  width: 39rem;
}

.learn-more__icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.learn-more__background-image {
  background-image: url("../assets/coldbrewbackground.png");
  background-size: 27.188rem;
  background-repeat: no-repeat;
  height: 27.188rem;
  width: 27.188rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.learn-more__tilted-can {
  height: 238px;
}

.learn-more__border-box {
  position: absolute;
  height: 27.188rem;
  width: 27.188rem;
  margin: -25px;
  border:4px solid #5BACC3;
}

.promotion-tag {
  width: 100%;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 8rem 0;
  margin: 0;
}

.promotion-tag p {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 83.563rem;
  height: 11.875rem;
  background-color: rgba(0,0,0, 0.85);
  color: #FFF;
  font-size: 2.813rem;
  font-weight: normal;
  flex-wrap: wrap;
}

.promotion-tag span {
  font-weight: bold;
}

.extra-information {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.extra-information div {
  padding: 3rem 0;
}

.extra-information p {
  font-size: 1.313rem;
}

.extra-information__hours span {
  font-weight: bold;
}
